* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

.cuerpo-principal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #023047;
    color: aqua;
    padding: 20px;
    border: 4px solid orange;
    margin: 10px;
}



/* .cuerpo-principal li a {
    display: inline;
    font-size: 20px;
}

.cuerpo-principal .titulo {
    text-align: center;
}

.home-page img {
    height: 120px;
    width: 200px;
    display: block;
    margin: 20px;
    border: 2px solid black;
}

.imagenes-referenciales h3 {
    display: block;
    margin: 10px;
    font-size: 15px;
} */