.cuerpo-principal {
    background-color: #023047;
    font-family: 'Montserrat', monospace;
    color: aqua;
}

.block-principal a {
    text-decoration: none;
}

.imagenes-referenciales img {
    height: 120px;
    width: 200px;
    display: block;
    margin: 20px;
    border: 2px solid black;
}

.imagenes-referenciales h3 {
    display: block;
    margin: 10px;
    font-size: 15px;
}